.home{
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.presentation{
    display: flex;
    flex-direction: column;
    background-color: black;
    overflow: hidden;
    width: 50%;
    padding: 20px;
    align-items: center;
    transition: width 1s;
    justify-content: space-evenly;
    
}



.name h1{
    display: block;
    color: white;
    font-size: 4rem; 
    text-align: center;
}

.name h2{
    display: block;
    color: white;
    font-size: 2rem; 
    
    text-align: center;
}


.sidebar{
    display: flex;
    flex-direction: column;
    width: 50px;
    background-color: rgb(0, 0, 0);
    transition: width 0.5s;
}

.sidebar:hover{
    width: 100px;
}


.sidebar .name{
    display: none;
}

.myImgSidebar{
    display: none;
}

.sidebar .contact{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: width 1s;
}

.sidebar .contact li{
    margin: 20px 0;
}

.backFull{
    display: none;
    margin-top: 20px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}




.myImg{
    display: flex;
    width: 200px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid white;
    margin-top: 30px;
}

.myImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.contact{
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 5px;
    align-items: center;
    list-style-type: none;
    
}

.contact li{
    display: flex;
    margin: 0 20px;
    border-radius: 50%;
    width: 50px;
    justify-content: center;
    align-items: center;
    padding: 10px 0 0 0;
    transition: background-color 0.5s;

}


.contact li a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

 @media (min-width: 700px) {
    .projectsHome:hover{
        width: 60%;
    }
    .presentation:hover{
        width: 60%;
    }
    .contact li:hover{
        background-color: #9d4edd;
        transition: 0.5s;
    }
  }
  @media  (max-width:700px) {
    .name{
        margin: auto 0;
    }

    .name h1{
        font-size: 2.5rem; 
    }

    .name h2{
        font-size: 1rem; 
    }

    .myImg{
       
        width: 100px;
        height: 150px;
        margin-top: auto;
        
    }


    .contact li{
        display: flex;
        margin: 0 10px;
        border-radius: 50%;
        width: 30px;
        justify-content: center;
        align-items: center;
        padding: 10px 0 0 0;
        transition: background-color 0.5s;
    
    }

    .projectsHome h1{
        font-size: 2.8rem; 
    }
  }
